.gradient-text {
    background-image: linear-gradient(to right, #e53935, #1e88e5);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
}

#clearResultsBtn:hover {
    /* Use Bootswatch is-invalid color */
    color: #dc3545;

}

#closeAlertBtn:hover {
    /* Use Bootswatch is-invalid color */
    color: #dc3545;
}